.bottom-total a {
    font-family: MuseoModerno;
}

h1,
button {
    font-family: 'Press Start 2P';
}

body {
    background-image: url(./src/flag.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
}

.bottom-total {
    bottom: 0;
    position: fixed;
    z-index: 999999;
    width: 100%;
    padding: 20px 0;
    background: linear-gradient(45deg, #ce1818, #2056e5);
}

.credits {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.credits a {
    color: #ddf7f6;
    text-decoration: none;
    font-size: 20px;
    text-shadow: 1px 1px 5px aliceblue;
}

canvas {
    width: 512px;
    height: 448px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

div#menu button {
    width: 100%;
    margin: 10px 0;
}

h1 {
    color: #a93786;
    text-decoration: none;
    font-size: 60px;
    text-shadow: 3px 7px 5px #e084c4;
    text-align: center;
    margin: 0;
}

#menu button {
    background: #90a60d;
    color: red;
    height: 40px;
    cursor: pointer;
}

#menu button:hover {
    background: #dbef6a;
    transition: 0.3s;
}